body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    color: #030303;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

header {
    text-align: center;
    padding: 3rem 0;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    color: white;
}

header h1 {
    font-weight: normal;
    font-style: italic;
}

main {
    padding: 1rem 0;
}

.container {
width: 100%;
max-width: 960px;
margin: 0 auto;
}

.movie {
width: 100%;
}